@mixin floating($solid : solid,$color:white){
    border-radius: 25px;
    box-shadow: 5px 3px 45px 14px rgba(0,0,0,0.35);
    border: $color 1px $solid;
}


@mixin grid($columns, $gap: 10px) {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
  
    > * {
      flex: 1 1 calc(100% / $columns - $gap);
      box-sizing: border-box;
    }
  }